{% extends "index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Botonera FX</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% block contenido %}
<body class="retro-bg">

    <main class="retro-login-container">
        <h2 class="retro-title">BOTONERA FX</h2>

        <form class="retro-card" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="retro-btn" type="submit">INGRESAR</button>

            <!-- <p class="retro-alt">
                ¿No tenés usuario?
                <a href="{% url 'registrar' %}">Registrar</a>
            </p> -->
        </form>

    </main>
{% endblock %}
</body>
</html>
