<!DOCTYPE html>
<html lang="es">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="layout">

    <header class="header">
        <h1 class="title">Botonera FX</h1>
    </header>
    {% block contenido %}
    <main class="main-menu">
        <nav class="nav-menu">
            <a class="btn" href="{% url 'login' %}">Ingresar</a>
            <a class="btn" href="{% url 'registrar' %}">Registrar usuario</a>
            <a class="btn" href="{% url 'perfil' %}">Perfil</a>
        </nav>
    </main>
    {% endblock %}
</body>
</html>
