<!DOCTYPE html>
<html lang="es">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="layout">

<header class="retro-header">

    <h1 class="retro-title">Botonera FX</h1>

    <nav class="retro-nav">

        {% if user.is_authenticated %}

            <!-- Disponible para todos los roles -->
            <a class="retro-link" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="retro-link" href="{% url 'perfil' %}">Perfil</a>
            <a class="retro-link" href="{% url 'programa_detalle' %}"></a>

            {% if perfil.rol == 'jefe' %}
                <!-- Solo Jefe -->
                <a class="retro-link" href="{% url 'registrar' %}">Registrar usuario</a>
                <a class="retro-link" href="{% url 'crear_usuario_manual' %}">Carga manual</a>
                <a class="retro-link" href="{% url 'fx_crear' 'global' %}">Crear FX Global</a>


            {% elif perfil.rol == 'operador' %}
                <!-- Operador puede (según tu diseño) crear FX global -->
                <a class="retro-link" href="{% url 'fx_crear' 'global' %}">Crear FX Global</a>

            {% else %}
                <!-- Productor no tiene accesos extra -->
            {% endif %}

            <a class="retro-link danger" href="{% url 'logout' %}">Cerrar sesión</a>

        {% else %}

            <!-- No autenticado -->
            <a class="retro-link" href="{% url 'login' %}">Iniciar sesión</a>

        {% endif %}
    </nav>

</header>

    {% block contenido %}
    <main class="main-menu">
        <nav class="nav-menu">
            <a class="btn" href="{% url 'login' %}">Ingresar</a>
            <a class="btn" href="{% url 'registrar' %}">Registrar usuario</a>
            <a class="btn" href="{% url 'perfil' %}">Perfil</a>
        </nav>
    </main>
    {% endblock %}
</body>
</html>
