<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="layout">

    <header class="retro-header">

        <h1 class="retro-title">Botonera FX</h1>

        <nav class="retro-nav">

            {% if user.is_authenticated %}

            <!-- Disponible para todos los roles -->
            <a class="retro-link" href="{% url 'dashboard' %}">Panel principal</a>
            <a class="retro-link" href="{% url 'perfil' %}">Perfil</a>

            {% if perfil and perfil.rol == 'JEFE' %}
            <!-- Solo Jefe -->
            <a class="retro-link" href="{% url 'registrar' %}">Registrar usuario</a>

            {% elif perfil and perfil.rol == 'OPERADOR' %}
            <!-- Operador -->
            <a class="retro-link" href="{% url 'fx_crear' 'OPERADOR' %}">Crear FX Personal</a>

            {% elif perfil and perfil.rol == 'PRODUCTOR' %}
            <!-- Productor -->
            <a class="retro-link" href="{% url 'fx_crear' 'OPERADOR' %}">Crear FX Personal</a>

            {% else %}
            <!-- Rol no identificado o perfil faltante -->
            <!-- Opcional: dejar solo enlaces comunes -->
            {% endif %}

            <a class="retro-link danger" href="{% url 'logout' %}">Cerrar sesión</a>

            {% else %}

            <!-- No autenticado -->
            <a class="retro-link" href="{% url 'login' %}">Iniciar sesión</a>

            {% endif %}

        </nav>

    </header>

    {% block contenido %}
    <main class="main-menu">
        <nav class="nav-menu">
            <a class="btn" href="{% url 'login' %}">Ingresar</a>
            <a class="btn" href="{% url 'registrar' %}">Registrar usuario</a>
            <a class="btn" href="{% url 'perfil' %}">Perfil</a>
        </nav>
    </main>
    {% endblock %}
</body>

</html>